name: Build flutter app and Upload to Google Drive

on:
  push:
    branches:
      - main
    paths:
      - 'frontend/**'
      - '.github/workflows/flutter-ci.yml'

  workflow_dispatch:


jobs:  
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.8'

      - name: Build Flutter apk
        run: |
          cd frontend
          flutter pub get
          flutter build apk --release

      - name: Upload to Google Drive
        uses: sowmen/gdrive-upload-action@v1.0.0
        with:
          credentials: ${{ secrets.GDRIVE_CREDENTIALS }}
          folder-id: ${{ secrets.GDRIVE_FOLDER_ID }}
          file-path: 'frontend/build/app/outputs/flutter-apk/app-release.apk'
          file-name: 'board-game-${{ github.sha }}.apk'
