name: Build flutter app and Upload to Google Drive

on:
  push:
    branches:
      - main
    paths:
      - 'frontend/**'
      - '.github/workflows/flutter-ci.yml'

  workflow_dispatch:


jobs:  
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.8'

      - name: Build Flutter apk
        run: |
          cd frontend
          flutter pub get
          flutter build apk --release

      - name: Upload APK as artifact
        uses: actions/upload-artifact@v4
        with:
          name: board-game-apk
          path: frontend/build/app/outputs/flutter-apk/app-release.apk
          